.container {
  width: 40vw;
  height: 50vh;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid gray;
}

.toggle:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
  top: 0;
  left: 1px;
  transition: all 0.4s;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.checkbox:checked + .toggle::after {
  left: 30px;
}

#good:checked + .toggle {
  background-color: green;
}
#cheap:checked + .toggle {
  background-color: rgba(128, 0, 4, 0.725);
}
#fast:checked + .toggle {
  background-color: rgba(0, 23, 128, 0.83);
}

.checkbox {
  display: none;
}
.box {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
